body {
  padding: 1em;
  background-color: #eeeeee;
}
h1 {
  text-align: center;
}
.main {
  width: 100%;
  display: flex;
  padding: 2em;
}
.main img{
  width: 15%;
}.content {
  width: 75%;
  margin-right: 15%;
  padding: 1em;
}